{# src/ARPCCoreBundle/Resources/views/Event/team-event-show.html.twig #}

<div class="col-lg-14">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="glyphicon glyphicon-arrow-down toggle-trigger"></a><span class="text-center"> Match {{ number }} ({{ teamEvent.start|date('d/m/Y H:i:s') }}) <br/> {{ teamEvent.host.label }} - {{ teamEvent.visitors.label }}</span><br/>
        </div>
        <div class="panel-body toggle-content">
            {% for player in team.involvedPlayers %}
                {{ include('ARPCCoreBundle:Player:show-inline.html.twig')}}<br/>
            {% endfor %}
        </div>
        <div class="panel-footer">
            <a href="{{ path('event_add_match', {'teamId' : team.id}) }}">Input result</a>
        </div>
    </div>
</div>