{# src/ARPCCoreBundle/Resources/views/Club/show.html.twig #}

<div class="col-lg-10 col-lg-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="text-center"><h2>{{ club.label }}</h2><h4>{{ club.code }}</h4></span>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Playing room
                    </div>
                    <div class="panel-body">
                        {{ include('ARPCCoreBundle:Adress:show.html.twig', { 'adress' : club.adress }) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% for contactWay in club.contactWays %}
                    {{ include('ARPCCoreBundle:ContactWay:show.html.twig', { 'contactWay': contactWay }) }}
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer">
            <a href="{{ path('club_edit', {'code' : club.code}) }}">Edit</a>
        </div>
    </div>
</div>