{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Bootstrap Admin Theme</title>

        {% block css %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- MetisMenu CSS -->
            <link href="{{ asset('bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

            <!-- Timeline CSS -->
            <link href="{{ asset('dist/css/timeline.css') }}" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="{{ asset('dist/css/sb-admin-2.css') }}" rel="stylesheet">

            <!-- Morris Charts CSS -->
            <link href="{{ asset('bower_components/morrisjs/morris.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ARPC 1.0</a>
                </div>
                <!-- /.navbar-header -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw"></i> Club<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path('club_main') }}">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('club_show_players') }}">Liste des joueurs</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('club_show_events') }}">Liste des évènements</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('club_show_teams') }}">Liste des équipes</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('club_add_player') }}">Ajouter un joueur</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('login') }}">Login</a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">{% block title %}{% endblock %}</h4>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        {% block javascripts %}
            <!-- JQuery -->
            <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{ asset('bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('dist/js/sb-admin-2.js') }}"></script>
        {% endblock %}
    </body>
</html>
